res/schemas/easing.xsd

<?xml version="1.0"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://www.w3schools.com"
	xmlns="https://www.w3schools.com"
	elementFormDefault="qualified"
>
	<xs:complexType name="ease">
		<xs:attribute name="mode" type="xs:string" default="" />
		<xs:attribute name="type" type="xs:string" default="" />
	</xs:complexType>
</xs:schema>